---
import { Icon } from "astro-icon/components";
---

<section class="header">
    <div class="title-container">
        <p class="job-title">Octo-say Simulator</p>
        <p class="job-description">succeeded last week in 4s</p>
    </div>
    <div class="search-container">
        <input class="input-message" id="message-input" type="text" placeholder="Write your message" />
        <button id="play" class="button-run">
            <Icon name="octicon:play-24" class="icon-header icon-play" />
        </button>
        <Icon name="octicon:gear-24" class="icon-header" />
    </div>
</section>
